h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Secular One', sans-serif;
}

body, html, .page-wrapper {
  height: 100%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  background-image: url("../../resources/background-image-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  font-size: $default-font-size;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

#logo-style {
  font-family: 'MuseoModerno', cursive;
}
