h1, h2, h3, h4, h5, h6 {
  font-family: 'Secular One', sans-serif;
}

body, html {
  height: 100%;
}

body, html {
  @include responsive-page-layout();
  background: $background-color;
}

a, button {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: $default-font-size;
}

body {
  color: $main-white-color;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: $main-white-color;
}

button {
  color: $main-white-color;
  background-color: transparent;
}

#logo-style {
  font-family: 'MuseoModerno', cursive;
}
