h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Secular One', sans-serif;
}

body, html, .page-wrapper {
  height: 100%;
}

body, html {
  width: 100%;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $background-color;
}

:root {
  font-size: $default-font-size;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

#logo-style {
  font-family: 'MuseoModerno', cursive;
}
