footer {
  @include responsive-main-footer-layout();
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;

  a {
    font-size: clamp(1rem, 1vw + 1rem, 1.75rem);
    font-weight: 300;
    padding-right: 1.5rem;
  }
}

@media (max-width: 640px) {
  footer {
    flex-direction: column;
  }
}
