header, header a {
  color: $main-white-color;
}

header {
  height: 1000px;
  @include responsive-container;

  button {
    background: transparent;
    cursor: pointer;
  }

  a {
    font-size: 37px;
    display: block;
  }
}

svg rect {
  fill: $main-white-color;
}

button:hover > svg > rect {
  fill: $active-link-color;
}

.change-color-on-button {
  fill: $active-link-color;
}

.toggle-menu-button {
  display: none;
}
