header, header a {
  color: $main-white-color;
}

header {
  height: 1000px;
  @include responsive-container;

  button {
    align-items: center;
    background: red;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
    transition: transform 0.1s ease-in-out;
    width: 100px;
  }

  a {
    font-size: 37px;
    display: block;
  }
}

.menu-icon {
  height: 40%;
  width: 40%;
  fill: $main-white-color;
}

button:hover {
  transform: scale(1.1);
}

.change-color-on-button {
  fill: $active-link-color;
}

.toggle-menu-button {
  display: none;
}

#twitter-icon-path {
  stroke: $icon-stroke-main-color;
}

#menu-icon-path rect {
  rx: 5px;
}
