header, header a {
  color: $main-white-color;
}

header {
  height: 1000px;

  button {
    background: none; 
    cursor: pointer;
  }

  a {
    font-size: 37px;
    display: block;
  }

  nav {
    display: flex;
  }
}

.link-container {
  display: none;
}
