main {
  border-radius: $border-radius-value;
  @include responsive-main-footer-layout();
  margin-bottom: 150px;

  article, section {
    margin-bottom: 84px;
  }
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 36px;

  &__main-link, h2 {
    flex-basis: 100%;
  }

  &__link {
    flex: 1;
  }
}

.message-container {
  label, textarea {
    display: block;
  }

  textarea {
    background: $background-color;
    border-radius: $border-radius-value;
    border: 0.5px solid $main-white-color;
    color: $main-white-color;
    padding: 12px;
    outline: 0;
    min-height: 200px;
    width: 100%;
  }
}

.button-container {
  background: $secondary-red-color;
  border-radius: $border-radius-value;
  box-shadow: 3px 3px 1px 0 hsla(0, 0%, 55%, 1);
  margin: 0 auto;
  padding: 16px 48px;
  width: fit-content;

  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.message-me-button-container {
  text-align: center;
  width: 100%;
}

.transform-button-on-click:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 1px 1px hsla(0, 0%, 55%, 1);
}

.card-container-styling {
  border-radius: $border-radius-value;
  box-shadow: 0 5px 10px 0.5px hsla(0, 0%, 55%, 1);
  padding: 24px 36px;
}
