$main-black-color: hsla(0, 0%, 0%, 1);
$main-white-color: hsla(0, 0%, 100%, 1);

$default-font-size: 16px;

$width-mobile-start: 393px;
$width-mobile-end: 380px;

$width-tablet-start: 834px;
$width-tablet-end: 821px;

$width-desktop-start: 1440px;
$width-desktop-end: 1427px;
